*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.portfoliocontainer{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position:sticky;

}
.container{
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position:
  position: absolute;
  overflow:hidden;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 8vh;
}
nav{
  flex: 1;
  align-items: right;
}
nav ul{
  flex: 1;
  text-align: right;
  padding-right: 30px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  padding-right: 50px;
}
nav ul li a{
  color: #0329a2;
  text-decoration: none;
  font-family: rift,sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  font-size: 30px;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #0329a2;
  transition: width 0.3s;
}
nav ul li a:hover::after{
  width: 50%;
}
.content h1{
  font-size: 80px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  font-family: buena-park-jf,serif;
  font-weight: 400;
  font-style: normal;
  color:#f43854;
}
.content h3{
  font-size: 30px;
  color: white;
  font-family: rift,sans-serif;
  font-weight: 500;
  font-style: normal;
  color:#21294c;
}
.content{
  margin-left: 10%;
  margin-top: 10%;
}
.content .school{
  margin-left: 420px;
  margin-top: 5%;
  display: inline-block;
  background: white;
  padding: 10px 20px;
  box-sizing:border-box;
  text-decoration: none;
  font-family: rift,sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #21294c;
  outline: 5px solid #f43854;
}
.aboutred{
  display: flex;
  font-family: rift,sans-serif;
  font-weight: 600;
  font-style: normal;
  color:#f43854;
  font-size: 50px;
}
.aboutContent{
  margin-top: 50px;
  width: 50%;
  font-family: sculpin,sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
  padding: 50px;
  color: black;
  font-weight: bold;
}
.aboutTitle{
  display: flex;
  font-family: rift,sans-serif;
  font-weight: 600;
  font-style: normal;
  color:#21294c;
  font-size: 50px;
  padding-left: 50px;
  padding-top: 50px;
}
.aboutTitle .info{
  flex: 1;
  top: 300px;
  position: absolute;
  color:#21294c;
  font-size: 20px;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 600px) {
  html{
    zoom: .8;
  }
}
@media only screen and (min-width: 800px) {
  html{
    zoom: .9;
  }
}
@media only screen and (min-width: 1000px) {
  html{
    zoom: 1;
  }
}
