*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.portfoliocontainer{
  height: 100%;
  width: 100%;
  background-color: #fffcf8;
  background-position: center;
  background-size:contain;
  box-sizing: border-box;
  top: 100%;
}
.container{
  height: 100vh;
  width: 100%;
  background-color: #fffcf8;
  background-position: center;
  background-size:contain;
  box-sizing: border-box;
  top: 100%;
}
.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  background-color: #fffcf8;
}
nav{
  display: flex;
  align-items: center;
  min-height: 8vh;
}
nav ul{
  flex: 1;
  text-align: right;
  padding-right: 30px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  padding-right: 50px;
}
nav ul li a{
  color: #0329a2;
  text-decoration: none;
  font-family: rift,sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  font-size: 30px;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #0329a2;
  transition: width 0.3s;
}
nav ul li a:hover::after{
  width: 50%;
}
.content h1{
  font-size: 120px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: black;
  font-family: rift,sans-serif;
  font-weight: 600;
  font-style: normal;
  color:#0329a2;
}
.content h3{
  font-size: 30px;
  color: white;
  font-family: rift,sans-serif;
  font-weight: 500;
  font-style: normal;
  color:#e70441;
}
.content{
  margin-left: 10%;
  margin-top: 10%;
}
.content .school{
  margin-left: 270px;
  margin-top: 5%;
  display: inline-block;
  background: white;
  padding: 10px 20px;
  box-sizing:border-box;
  text-decoration: none;
  font-family: rift,sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #fffcf8;
  color: #0329a2;
  outline: 5px solid #e70441;
}
.aboutContent{
  margin-top: 50px;
  width: 50%;
  font-family: sculpin,sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
  padding: 50px;
  color: black;
  background-color: #fffcf8;
  font-weight: bold;
}
.aboutTitle{
  display: flex;
  font-family: rift,sans-serif;
  font-weight: 600;
  font-style: normal;
  color:#0329a2;
  font-size: 50px;
  background-color: #fffcf8;
  padding-left: 50px;
}
.aboutTitle .info{
  flex: 1;
  text-align: right;
  right: 100px;
  top: 225px;
  position: absolute;
  color:#e70441;
  font-size: 20px;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 50px;
}
